v15
Debug
/images
/.axoCover
/TestResults
/lib/net461
/lib/net451
/lib/net45
/packages
/.vs
/src/SqlDataReaderMapper/bin
/src/SqlDataReaderMapper/obj
/test/SqlDataReaderMapper.Tests/bin
/test/SqlDataReaderMapper.Tests/obj
/tools/nuget.bat
